.rftw-card {
	display: inline-block;
	margin: 24px 19px 24px 0;
	position: relative;
	width: calc(~'25% - 18px');
	vertical-align: top;
	
	&:nth-of-type(4n+4) {
		margin: 24px 0;
	}
	
	&__action {
		clear: both;
		width: 95%;
		
		@media all and (max-width:@break-mobile) {
			margin: 30px 0 0 6px;
			width: 80%;
		}
	}
	
	&__header {
		margin: 0 0 10px;
		position: relative;
		width: 100%;
	}
	
	&__image {
		height: auto;
		width: 100%;
		
		@media all and (max-width:@break-mobile) {
			float: left;
			width: 36%;
		}
	}
	
	&__text {
		height: 100px;
		
		@media all and (max-width:@break-desktop) {
			height: 135px;
		}
	}
	
	&__title {
		background: url('@{image-path}bg-stone-green.png');
		color: #fff !important;
		display: block;
		font-family: @font-brandon;
		font-size: 1rem !important;
		font-style: italic;
		font-weight: bold;
		letter-spacing: 3px;
		line-height: 1rem !important;
		padding: 13px 0;
		position: absolute;
		text-align: center !important;
		text-transform: uppercase;
		top: 61%;
		width: 100%;
		-webkit-font-smoothing: antialiased;
		
		@media all and (max-width:@break-desktop) {
			font-size: .875rem !important;
			line-height: .875rem !important;
			letter-spacing: 2px !important;
			padding: 10px 0;
			top: 68%;
		}
		
		@media all and (max-width:@break-desktop) {
			top: 56%;
		}
		
		@media all and (max-width:@break-mobile) {
			font-size: 1rem;
			line-height: 1rem;
			margin: 0 0 15px 0;
			position: relative;
		}
	}
	
	p {
		font-size: .9375rem;
		line-height: 1.5625rem;
		
		@media all and (max-width:@break-mobile) {
			margin: -6px 0 0 42.85%;
			width: 57%;
		}
	}
	
	.rftw-button__action--second-line {
		@media all and (max-width:@break-desktop) {
			font-size: 1rem;
			line-height: 1rem;
		}
		
		@media all and (max-width:@break-mobile) {
			font-size: 1.25rem;
			line-height: 1.25rem;
		}
	}
	
	@media all and (max-width:@break-tablet) {
		width: calc(~'50% - 24px');
		
		&:nth-of-type(2n+2) {
			margin: 24px 0 24px 0;
		}
	}
	
	@media all and (max-width:@break-mobile) {
		margin: 0 0 24px 0; 
		width: 100%;
	}
}