.rftw-list {
	margin: 0px auto 35px;
	max-width: 650px;
	
	@media all and (max-width:@break-tablet) {
		width: 85%;
	}
	
	&--alpha {
		list-style: upper-alpha;
	}
	
	&--nested-one-level {
		padding: 0 0 0 30px;
	}
	
	&--nested-two-levels {
		padding: 0 0 0 45px;
	}
	
	&--roman {
		list-style: lower-roman;
	}

	
	&__item {
		color: @blue-dark;
		font-family: @font-lato;
		font-size: 1rem;
		line-height: 1.75rem;
		margin: 0 0 8px;
		text-align: left;
	}
}

.rftw-overlay-list {
    background: url('@{image-path}bg-stone-teal.png');
    border-radius: 0 0 2px 2px;
    left: 25px;
    position: absolute;
    top: 0;
    
    @media all and (max-width:@break-tablet) {
		left: 0;
		position: relative;
		top: -2px;
	}
    
    &__item {
	    list-style: none;
	    padding: 10px 25px 5px;
	    text-align: left;
	    
	    &:last-of-type {
		    padding: 10px 25px 15px;
	    }
    }
    
    &__item--header {
		color: #fff;
	    font-family: @font-brandon;
		font-size: 1.5rem;
		font-style: italic;
		line-height: 1.5rem;
		text-transform: uppercase;
    }
}

.rftw-overlay-list__item__link,
.rftw-content a.rftw-overlay-list__item__link {
    color: #A6FBF5 !important;
    font-family: @font-brandon;
	font-size: 1.15rem;
	font-weight: bold;
	line-height: 1.15rem;
	text-transform: uppercase;
}

.rftw-rules {
	.rftw-list {
		margin: 0px auto 25px;
	}
	
	.rftw-list__item {
		margin: 0 0 20px;
	}
}

.rftw-schedule {
	border-bottom: 1px solid #eeeeee;
	margin: 0 auto;
	max-width: 650px;
	text-align: left;
	
	&__event {
		color: @blue-dark;
		display: inline-block;
		font-family: @font-lato;
		font-size: 1.125rem;
		line-height: 1.5rem;
		list-style: none;
		margin: 2px 0 0;
		max-width: 300px;
		padding: 25px 25px 25px 0;
		vertical-align: top;
		
		@media all and (max-width:@break-tablet) {
			width: 100%;
			padding: 0 0 25px;
		}
		
		&__additional-item {
			display: block;
			margin: 20px 0 0 0;
		}
		
		&__note {
			.note-copy;
		}
	}
	
	&__time {
		color: @gold-base;
		display: inline-block;
		font-family: @font-lato;
		font-size: 1.75rem;
		line-height: 1.75rem;
		list-style: none;
		padding: 25px;
		width: 260px;
		vertical-align: top;
		
		@media all and (max-width:@break-tablet) {
			padding: 25px 0 10px;
		}
		
		&__period {
			color: #8a8885;
			font-size: .6875rem;
			line-height: .6875rem;
			vertical-align: bottom;
		}
	}
}