.basic-button() {
	border: 0;
	border-radius: 2px;
	background-color: transparent;
	background-image: url('@{image-path}bg-stone-teal.png') !important;
	color: #fff !important;
	cursor: pointer;
	display: inline-block;
	font-family: @font-brandon !important;
	font-size: 1.25rem;
	font-style: italic;
	height: auto;
	letter-spacing: 1px;
	line-height: 1.25rem;
	padding: 8px 20px;
	transition: @default-transition;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	width: auto;
	vertical-align: top;
	
	&:hover {
		color: #fff !important;
		opacity: .75;
	}
	
	@media all and (max-width:@break-tablet) {
		width: 100%;
	}
}

.default-field() {
	background: #FBFBFB;
    border: 1px solid #AFB4C3;
    border-radius: 2px;
    box-shadow: 0 0;
    color: @blue-dark;
    font-family: @font-lato;
	font-size: 1rem;
	line-height: 1rem;
	margin: 0 10px 0 0;
    padding: 6px 12px;
    transition: @default-transition;
    
    @media all and (max-width:@break-tablet) {
		display: block;
		margin: 0 0 10px;
		width: calc(~'100% - 26px');
	}
	
	&:focus {
		border: 1px solid @blue-dark;
	    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.25);
		outline: none;
	}
}

.secondary-button() {
	.basic-button;
	background: #eee !important;
	color: #8C8C8C !important;
	
	&:hover {
		color: #8C8C8C !important;
	}
}

.note-copy() {
	color: #706c65;
    display: block;
    font-size: .875rem;
    line-height: 1.25rem;
    margin: 10px 0 0 0;
}

.header() {
	color: @green-base;
	font-family: @font-brandon;
	font-size: 2.8125rem;
	font-style: italic;
	font-weight: bold;
	line-height: 2.8125rem;
	letter-spacing: 5px;
	margin: 0 0 30px;
	text-transform: uppercase;
	transition: @default-transition;
	-webkit-font-smoothing: antialiased;
	
	@media all and (max-width:@break-mobile) {
		font-size: 1.875rem;
		letter-spacing: 3px;
		line-height: 1.875rem;
		margin: 0 0 20px;
	}
}

.subheader() {
	color: @gold-base;
	font-family: @font-brandon;
	font-size: 1.125rem;
	font-style: italic;
	font-weight: bold;
	line-height: 1.125rem;
	letter-spacing: 3px;
	margin: 35px auto 10px;
	max-width: 750px;
	text-align: left;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
}	