@import "vars.less";
@import "mixins.less";
@import "fonts.less";

@font-path: 'https://secure3.convio.net/wcs/rftw-2016/fonts/';
@image-path: 'https://secure3.convio.net/wcs/rftw-2016/images/';

/*********************************/
/* PC Layout Changes             */
/*********************************/

html, body {
	background-color: #fff !important;
	color: @blue-base;
	font-family: @font-lato;
	font-size: 16px;
	line-height: 16px;
}

#doc2.yui-t5 {	
	width: 100%;	
}

#embeddedParticipantCenter {
	width: 100% !important;
}

#yui-main {
	width: 75% !important;
}

.yui-skin-ux .ux-hd-row {
	margin-top: 0px;
	text-align: center;
}

div.ux-main div.dashboard-bd {
	background-color: #eee;
	border: none;
}

.yui-skin-ux .fundraising-progress .section {
	background: transparent;
	border: 0;
	font-family: @font-lato;
}

#bd-what-next .what-next-icon {
    margin: 0 10px 0 0 !important;
	vertical-align: top;
}

#bd-what-next .what-next-message-container {
    width: calc(~'100% - 55px');
}

.yui-skin-ux .yui-dt th,
.yui-skin-ux .yui-dt td {
	border: 0;
	padding: 10px 5px !important;
}

.yui-skin-ux .yui-dt tr td:first-child,
.yui-skin-ux .yui-dt tr th.yui-dt-first {
	border: 0;
}


.nav_container span{
	&:nth-child(2) {
		@media all and (max-width:@break-tablet) {
			display: none;
		}
	}
}

.yui-skin-ux .hidden-form {
	display: none !important;
}

div#email-wizard-preview-body {
	overflow: auto;
}

/*********************************/
/* Color Changes                 */
/*********************************/

#bd-what-next .what-next-answer-item,
div.ux-main div#yui-main div#content {
	border: 1px solid #eee;
}

#bd-what-next .what-next-answer-item.what-next-completed {
    border: 1px solid #eee;
    background: #eee;
}

#bd-what-next .what-next-icon {
	color: @blue-base;
}

.yui-skin-ux .yui-dt thead {
    background: #0bb6a7;
}

.track-progress li {
	background-color: #85DBD3;
}

.track-progress li > span:before {
	border-left-color: #85DBD3;
}

.track-progress li.email-wizard-nav-selected > span,
.track-progress li.addressbookimport-wizard-nav-selected > span, 
.track-progress li.email-wizard-nav-selected:hover > span, 
.track-progress li.email-wizard-nav-unselected:hover > span {
	background-color: @blue-base;
}

.track-progress li.email-wizard-nav-selected + li > span:before, 
.track-progress li.addressbookimport-wizard-nav-selected + li > span:before, 
.track-progress li.email-wizard-nav-selected:hover + li > span:before, 
.track-progress li.email-wizard-nav-unselected:hover + li > span:before {
	border-left-color: @blue-base;
}

/*********************************/
/* Button Changes                */
/*********************************/

.yui-skin-ux div.primary-action {
	background: transparent;
	border: 0;
	box-shadow: none;
	width: calc(~'100% - 38px');
}

.yui-skin-ux div.primary-action a {
	.basic-button();
	width: 100%;
	
	span {
		background: transparent !important;
		padding: 0 !important;
	}
}

.yui-skin-ux button:not([class^="janrain"]):not(.email-wizard-recipients-actions-button), 
.yui-skin-ux .yui-push-button {
	.basic-button();
}

/*********************************/
/* Sidebard Changes             */
/*********************************/

#sidebar {
	width: 25% !important;
}

/*********************************/
/* PC Typography Changes         */
/*********************************/

.yui-skin-ux h1 {
	.subheader();
}

.yui-skin-ux .bd-progress h3 {
	font-family: @font-lato;
	font-size: 1rem;
}

.yui-skin-ux .tiny-block {
	font-size: .875rem;
	text-transform: uppercase;
}

#bd-what-next .what-next-message-container {
	.what-next-type {
		color: @blue-base;
		font-family: @font-lato;
		font-size: 1.125rem;
		line-height: 1.5rem;
	}
	
	.what-next-message {
		font-family: @font-lato;
		font-size: .875rem;
		line-height: 1.25rem;	
	}
}

.yui-skin-ux .yui-dt thead th div, 
.yui-skin-ux .yui-dt thead th div a,
.yui-skin-ux .yui-dt td div {
	font-family: @font-lato;
	font-size: .875rem;
}

.yui-skin-ux #sidebar a {
	color: @blue-base;
	font-family: @font-lato;
	font-size: 1rem;
	transition: @default-transition;
	
	&:hover {
		color: #11dfcd;
		text-decoration: none;
	}
}

/*********************************/
/* Progress Bar Changes          */
/*********************************/

div.progress-bar-outer {
	background-color: #eee;
	background-image: none;
	border: 0;
	width: 100%;
}

div.progress-bar-inner {
	background-image: url('https://secure3.convio.net/wcs/rftw-2016/images/bg-stone-teal.png') !important;
    border: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*********************************/
/* Tabs to Nav                   */
/*********************************/

.yui-skin-ux #hd-nav {
	display: inline-block;
	float: none;
	font-size: 0;
	margin: 0 auto 45px;
	
	@media all and (max-width:@break-mobile) {
		width: 98%;
	}
}

.yui-skin-ux #hd-nav li {
	background-color: transparent;
	border-bottom: 1px solid #eee;
	border-right: 1px solid #eee;
	border-top: 1px solid #eee;
	border-radius: 0;
	margin: 0;
	padding: 0;
	transition: @default-transition;
	
	@media all and (max-width:@break-mobile) {
		border-bottom: 0;
		border-right: 1px solid #eee;
		border-left: 1px solid #eee;
		border-top: 1px solid #eee;
		width: 100%;
		
		&:first-of-type {
			border-radius: 3px 3px 0 0 !important;
		}
		
		&#personalpage-nav-link {
			border-bottom: 1px solid #eee;
			border-radius: 0 0 3px 3px !important;
		}
	}
	
	&:hover {
		background: #eee;
	}
	
	&:first-of-type {
		border-left: 1px solid #eee;
		border-radius: 3px 0 0 3px !important;
	}
	
	&#personalpage-nav-link {
		border-radius: 0 3px 3px 0;
	}
	
	a, a:link, a:visited {
		color: @blue-dark !important;
		font-family: @font-brandon;
		font-size: .9375rem;
		font-weight: bold;
		letter-spacing: 2px;
		padding: 5px 15px;
		text-decoration: none;
		text-transform: uppercase;
		-webkit-font-smoothing: antialiased;
		
		@media all and (max-width:@break-tablet) {
			font-size: .8125rem;
		}
		
		@media all and (max-width:@break-mobile) {
			font-size: .9375rem;
		}
	}
	
	&.selected {
		background-color: @blue-dark;
		border-bottom: 1px solid @blue-dark;
		border-right: 1px solid @blue-dark;
		border-top: 1px solid @blue-dark;
	    border-radius: 0;
	    color: #fff !important;
	    margin: 0;
	    
	    &:hover {
		    background: @blue-dark;
		}
		
		a {
			color: #fff !important;
		}
	}
}
