/*********************************/
/* Personal Page Changes        */
/*********************************/

a#sidebar_donate_button {
	.basic-button;
}

a#join_team_button,
a#personal_page_join_team_button {
	.secondary-button;
}

#personal_page_header {
	background: transparent;
	padding: 0;
	
	 h2 {
	 	.header;	
	}
}

#team_name {
	.header;
	margin: 0 auto 30px;
	text-align: center;
}

div.donor-list-name,
div.donor-wall-link-container {
	text-align: left;
}

div.indicator-title.team-roster-title {
	margin: 0;
} 

div.team-roster-raised-label {
	font-weight: bold;
	margin: 0;
}

div.tr-page-main-content,
div#team_page_main_content {
	width: 65%;
	
	@media all and (max-width:@break-tablet) {
		width: 100%;
	}
}

div.tr-page-container div.side-bar {
	width: calc(~'35% - 50px');
	
	@media all and (max-width:@break-tablet) {
		width: 100%;
	}
}

div.tr-page-container #sidebar_donate_button,
div.tr-page-container #join_team_button,
div.tr-page-container #personal_page_join_team_button {
	width: calc(~'100% - 46px');
}

div.TrAchievementBadgeIconListLargeHeader,
div.indicator-title {
	.subheader();
}

div.indicator-container.vscroll-container {
	background: #eee;
}

div.TrAchievementBadgeLarge,
div.indicator-container {
	border: 0;
}

div.thermometer-container div.thermometer-outer {
	background: #eee;
}

div.thermometer-container div.thermometer-inner {
	background-image: url('@{image-path}bg-stone-teal.png') !important;
}

.TrAchievementBadgeNameLarge {
	color: @blue-dark;
	font-size: 1rem;
    font-weight: normal;
    line-height: 1.25rem;
}

div.TrAchievementBadgeDescLarge {
    color: @blue-dark;
    font-size: 1rem;
	margin: 10px 0 0 54px;
}

div.thermometer-container div.amount-percentage-info span, 
div.thermometer-container div.amount-raised-info span {
	color: @blue-dark;
	font-weight: normal;
    margin: 0 0 5px;
}

div#personal_join_team_button_container, 
div#join_team_button_container {
	margin: 15px 0 0;
}

.team-roster-participant-row {
	text-align: left;
}

.team-roster-participant-row:last-of-type {
    border-top: 1px solid #eee;
	padding: 10px 0 0;
}

img.team-roster-star {
	margin: 0 0 0 5px;
}

div.team-roster-legend {
    background: #eee;
    border-radius: 4px;
    font-size: .85rem;
    padding: 5px;
	text-align: left;
}

#personal_page_team_page_link {
	border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    display: inline-block;
    padding: 10px 0;
    width: 100%;
}

div#personal_page_image_div,
div#team_image {
	float: right;
    margin: 0 0 30px 30px;
    
    @media all and (max-width:@break-mobile) {
		float: none;
		margin: 0 0 30px 0;
		width: 100%;
		
		img {
			height: auto;
			width: 100%;
		}
	}
}