// Path
@font-path: '../fonts/';
@image-path: '../images/';

// Colors
@green-base: #019f5e;
@blue-base: #0bb6a7;
@blue-dark: #475267;
@gray-base: #706c65;

// Fonts
@font-sans-fallbacks: helvetica, arial, sans-serif;
@font-brandon: 'Brandon Grotesque', @font-sans-fallbacks;